{% extends 'laby/base.html' %}

{% load static %}

{% block title %}Éditeur de carte{% endblock %}

{% block styles %} 
    <style>
      div#myCanvas {
          display : block;
          float : right;
          margin-left : auto;
      }
      #layout {
          display: block;
          position: absolute;
          left: -3000px;
      }
      table td {
          padding : 10px;
      }
    </style>
{% endblock %}

{% block javascript %}
    <script src='{% static "third-party/p5/p5.js" %}'></script>
    <script src='{% static "third-party/p5/p5.sound.js" %}'></script>
    <script src='{% static "js/p5_labyrinthe.js" %}'></script>
    <script src='{% static "js/map_builder.js" %}'></script>
    <script>
      game_layout='{{ values.layout|safe }}';
    </script>
{% endblock %}
  </head>

{% block content %}  
  <div id="myCanvas"></div>

  <h2>Éditeur de carte</h2>
  <h5><a href="{% url 'laby:home' %}">Accueil</a></h5>
  <h5><a href="{% url 'laby:map_list' %}">Liste des cartes</a></h5>
  <h5><a href="{% url 'laby:index' %}">Jeux</a></h5>
  {% if error_message %}<p style="color:red;"><strong>{{ error_message|safe }}</strong></p>{% endif %}
<form action="{% url 'laby:create_map' %}" method="post" id="my-form">
  <table>
    <tr>
      <td>
        <label for="map-name">Nom de la carte : </label>
      </td>
      <td>
        <input type="text" name="map_name" value="{{ values.map_name|safe }}"> *
      </td>
    </tr>
    <tr>
      <td>
        <label for="laby-h-size">Taille horizontale : </label>
      </td>
      <td>
        <select name="laby-h-size" onchange="laby.resize(int(this.value), int(document.getElementById('laby-v-size').value));" id="laby-h-size" >
          <option value="5" >5</option>
          <option value="6" >6</option>
          <option value="7" >7</option>
          <option value="8" >8</option>
          <option value="9" >9</option>
          <option value="10" selected="selected" >10</option>
          <option value="11" >11</option>
          <option value="12" >12</option>
          <option value="13" >13</option>
          <option value="14" >14</option>
          <option value="15" >15</option>
<!--
          <option value="16" >16</option>
          <option value="17" >17</option>
          <option value="18" >18</option>
          <option value="19" >19</option>
          <option value="20" >20</option>
-->
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label for="laby-v-size">Taille Verticale : </label>
      </td>
      <td>
        <select name="laby-v-size" onchange="laby.resize(int(document.getElementById('laby-h-size').value), int(this.value));" id="laby-v-size" >
          <option value="5" >5</option>
          <option value="6" >6</option>
          <option value="7" >7</option>
          <option value="8" >8</option>
          <option value="9" >9</option>
          <option value="10" selected="" >10</option>
          <option value="11" >11</option>
          <option value="12" >12</option>
          <option value="13" >13</option>
          <option value="14" >14</option>
          <option value="15" >15</option>
<!--
          <option value="16" >16</option>
          <option value="17" >17</option>
          <option value="18" >18</option>
          <option value="19" >19</option>
          <option value="20" >20</option>
-->
        </select>      
      </td>
    </tr>
    <tr>
      <td>
        <label for="element">Élément à placer : </label>
      </td>
      <td>
        <input type="radio" name="element" value="P" checked="checked"> Pegman<br>
        <input type="radio" name="element" value="A"> Astro<br>
        <input type="radio" name="element" value="H"> Mur<br>
        <input type="radio" name="element" value="C"> Pièce<br>
        <input type="radio" name="element" value="X"> Super pièce<br>
        <input type="radio" name="element" value="_"> Effacer
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="enregistrer" onclick="
          document.getElementById('layout').value=laby.save();
          document.my-form.submit();">
      </td>
    </tr>
  </table>
  {% csrf_token %}
  <input type="hidden" name="layout" id="layout" value="{{ values.layout|safe }}">
{% endblock %}
