  {% if game_list %}
  <table class="game-list">
    <tr>
      <th>Nom du jeu</th>
      <th>Joueur un</th>
      <th>Joueur deux</th>
      <th>Créé le</th>
    </tr>
    {% for game in game_list %}
    <tr>
      <td><a href="{% url 'laby:join_game' game.id %}">{{ game.name }}</a></td>
      <td>{{ game.p1|default_if_none:"" }}</td>
      <td>{{ game.p2|default_if_none:"" }}</td>
      <td>{{ game.time_created }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
      <p>Pas de partie en cours</p>
  {% endif %}
