{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Accueil</title>
    <link rel="icon" type="image/png" href='{% static "favicon.ico" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "css/game.css" %}'>
    <script>
    function includeHTML() {
      var elmnt, file, xhttp;
      elmnt = document.getElementById("game-list");
      file = elmnt.getAttribute("w3-include-html");
      if (file) {
        /* make an HTTP request using the attribute value as the file name: */
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4) {
            if (this.status == 200) {elmnt.innerHTML = this.responseText;}
            if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          }
        }
        xhttp.open("GET", file, true);
        xhttp.send();
      }
      setTimeout(includeHTML, 5000);
    }
    </script>  
  </head>

  <body>

    <h2>Parties en cours : </h2><div style="float:right;">Bonjour {{ player }} | <a href="{% url 'laby:logout' %}">Déconnexion</a></div>
    
    <div id="game-list" w3-include-html="{% url 'laby:game_list' %}"></div> 

    <hr>        

    {% if error_message %}<p style="color:red;"><strong>{{ error_message }}</strong></p>{% endif %}

    <h3>Créer une nouvelle partie : </h3>

    <form action="{% url 'laby:create_game' %}" method="post">
    {% csrf_token %}
        <label for="game-name">Nom de la partie : </label>
        <input type="text" name="game-name" id="game-name">

        <label for="map-choice">Choix de la carte : </label>
        <select name="map-choice" id="map-choice">
        {% for map in map_list %}
          <option value="{{map.map_name}}">{{ map }}</option>
        {% endfor %}
        </select>
        <input type="button" onclick="location.replace('{% url 'laby:create_map' %}');" value="créer une carte">
        <input type="submit" value="Rejoindre">
        
    </form>

    <script>
      includeHTML();
    </script> 
  </body>

</html>
