{% extends 'laby/base.html' %}
{% load static %}
{% block content %}

  {% if map_list %}
    <table class="game-list">
      <tr>
        <th>Nom de la carte</th>
      </tr>
      {% for map in map_list %}
      <tr>
        <td><a href="{% url 'laby:create_map' map.id%}">{{ map.map_name }}</a></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
        <p>Pas de cartes actuellement</p>
  {% endif %}
  <input type="button" onclick="location.replace('{% url 'laby:create_map' %}');" value="créer une nouvelle carte">
{% endblock %}
